*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    height: 80vh;
    display: grid;
    place-items: center; 
    background-color: slategrey;
}
 .container {
    padding: 20px;
    background-color: rgb(0, 145, 63);
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.container:hover{
    transform: scale(1.1);
}
.form-group {
    margin: 10px 0;
    text-align: left;
    color: white;
}

.form-group input {
    margin-right: 8px;
}

p{
    font-weight: bold;
}


/*css ejrcicio 25*/
#btn_color{
    padding: 10px;
    background-color: rgb(50, 50, 97);
    color: white;

}
/*21-20*/
#parrafo{
    font-size: 20px;
    color: #333;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    text-align: center;
}
h3{
    font-size:24px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}
.container1{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px  2px rgb(198, 193,193, 0.1);
    max-width: 400px;
    width: 100%;
}
.container1:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}
#btnMostrar{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#btncambiar{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/*css ejercicio 22 y 23*/
#h2-ej22{
    color: rgb(236, 114, 0, 0.96);
    font-size: 30px;
    text-shadow: 0px 0px 5px rgb(145, 73, 1);
}
#texto{
    padding: 8px;
    font-size: 20px;
}
#resultado{
    font-size: 20px;
     margin-top: 20px;
}
#contenedor22-23{
    background-color: green ;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px 0 #0007;
    max-width: 350px;
    width: 100%;
}